@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .user {
    @apply flex h-10 w-10 items-center justify-center rounded-full bg-primary/10 text-primary font-semibold;
  }
}